<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANO_CALENDARIO</key>
	<string>$(ANO_CALENDARIO)</string>
	<key>ANO_EXERCICIO</key>
	<string>$(ANO_EXERCICIO)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.113866804734-rovilec9rlap2f9fn5tg4ko7dhs30qrk</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>RENDIMENTO_ISENTO_COMERCIO</key>
	<string>$(RENDIMENTO_ISENTO_COMERCIO)</string>
	<key>RENDIMENTO_ISENTO_SERVICO</key>
	<string>$(RENDIMENTO_ISENTO_SERVICO)</string>
	<key>RENDIMENTO_ISENTO_TRANSPORTE</key>
	<string>$(RENDIMENTO_ISENTO_TRANSPORTE)</string>
	<key>RENDIMENTO_TRIBUTAVEL_LIMITE</key>
	<string>$(RENDIMENTO_TRIBUTAVEL_LIMITE)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
